body{
    width:1000px;
    margin:0 auto;
}
a{
    text-decoration:none;
    margin:0 5px
}
.total{
        width:1000px;
        display:flex;
        justify-content:space-between
}
table{
    width:1000px;
    border-collapse: collapse;
    border-spacing: 0;
    font-size:14px;
    text-align:center;
}
caption{
    padding:10px;
}
th{
    border-bottom: 1px solid #292929;
    padding: 11px;
}
td{
    border-bottom: 1px solid #ebebeb;
    padding: 11px;
}
.pager{
    text-align:center
}