.gnb_menu_wrap{
    width:1000px;
    border-bottom:1px solid#d66d6d;
    display:flex
}
.pd_wrap{
    width:1000px;
    margin:0 auto;
    margin-top: 100px;
}
.pd1{
    display:block;
    width:478px;
    height:397px;
    background:url(../images/store/best01.jpg) no-repeat;
    text-indent:-9999px;
    margin-top:114px;
    margin-left:10px;
    float:left
}
table th{
    text-align:left;
    font-weight:500;
}
.pd_table{
    float:left;
    position:relative;
    top:108px;
    left:15px;
    margin-bottom:50px;
}
.tit{
    font-size:24px;
    font-weight:500;
    position:relative;
    top:-10px
}
.txt_price{
    font-size:22px
}
#txt_price_ins{
    font-size:18px;
    font-weight:bold;
    color:#949393;
    text-decoration:line-through;
    position:relative;
    left:30px;
}
.txt1{
    font-size:16px;
    height:40px
}
.txt1 td{
    color:#505050;
    position:relative;
    left:30px;
}
.line{
    display:block;
    width:504px;
    height:3px;
    background:url(../images/store/title_line.png) no-repeat;
    position:relative;
    top:140px;
    left:496px
}
.btn_wrap{
    clear:both;
    display:flex;
    position:relative;
    top:-170px;
    margin-left:510px
}
.btn_mins{
    display:block;
    width:52px;
    height:52px;
    background:url(../images/store/mins.png) no-repeat;
    text-indent:-9999px;
    border:none;
    cursor:pointer
}
.count{
    width:84px;
    height:44px;
    border:2px solid#787878;
    text-align:center;
    margin-left:-4px
}
.btn_plus{
    display:block;
    width:52px;
    height:52px;
    background:url(../images/store/plus.png) no-repeat;
    text-indent:-9999px;
    border:none;
    margin-left:-2px;
    cursor:pointer
}
.txt_all_wrap{
    position:relative;
    top:-90px;
}
.txt_all{
    font-size:18px;
    font-weight:bold;
    position:relative;
    margin-left:766px;
    margin-right:18px;
    top:-133px
}
.txt_price1{
    font-size:30px;
    font-weight:bold;
    color:#ff0000;
    position:relative;
    top:-130px
}
.btn_pre{
    width:228px;
    height:78px;
    background:#3f3f3f;
    border-radius:6px;
    border:none;
    color:#fff;
    font-size:16px;
    font-weight:500;
    cursor:pointer;
    position:absolute;
    margin-left:510px;
    margin-right:24px;
    margin-top:-165px
}
.btn_buy{
    width:228px;
    height:78px;
    background:#c30000;
    border-radius:6px;
    border:none;
    color:#fff;
    font-size:16px;
    font-weight:500;
    cursor:pointer;
    position:absolute;
    margin-left:762px;
    margin-top:-165px;
}
.htu_wrap{
    width:1000px;
    margin:auto;
    font-size:16px;
}
.htu_wrap h5{
    font-size:16px
}
.htu_btn{
    width:500px;
    height:52px;
    background:#fff;
    border:1px solid#888;
    border-radius:6px;
    font-size:16px;
    font-weight:bold;
    color:#888;
    cursor:pointer
}
.htu1{
    margin-bottom:100px;
    /* display:none */
}
.un_mov{
    line-height:1.5;
}
.prec_btn{
    width:500px;
    height:52px;
    background:#fff;
    border:1px solid#888;
    border-radius:6px;
    font-size:16px;
    font-weight:bold;
    color:#888;
    cursor:pointer;
    position:relative;
    top:-52px;
    left:500px
}
.on{
    border:1px solid #000;
    color:#000
}
.prec1{
    margin-bottom:100px;
    display:none
}
.prec1 p{
    line-height:2;
}
.ad_wrap{
    background:url(../images/ad_bg.jpg) repeat-x bottom;
}
.ad{
    width:1000px;
    margin:0 auto
}
.banner_ad1{
    display:block;
    width:1000px;
    height:244px;
    background:url(../images/login/banner_ad01.jpg) no-repeat;
    text-indent:-9999px;
    margin-top:50px
}
.banner_ad2{
    display:block;
    width:1000px;
    height:244px;
    background:url(../images/banner_ad.png) no-repeat;
    text-indent:-9999px
}