.pd1{
    margin:auto;
    height:52px;
    width:1000px;
    background:#e53f3f;
    margin-top:180px;
}
.pd1 h2{
    font-size:20px;
    font-weight:500;
    color:#fff;
    text-align:center;
    padding:10px
}
.pd1 a{
    display:block;
    width:199px;
    height:166px;
    background:url(../images/payment/best01.png) no-repeat;
    text-indent:-9999px;
    position:relative;
    top:83px;
    left:151px
}
.pd1 p{
    font-size:18px;
    font-weight:bold;
    position:relative;
    top:111px;
    left:157px
}
.pd2_wrap{
    width:1000px;
    margin:auto
}
.pd2{
    width:500px;
    height:382px;
    background:#f9f9f9;
    margin-left:500px;
    text-align:center
}
.pd2 h3{
    font-size:18px;
    position:relative;
    top:149px

}
.pd2 p{
    font-size:14px;
    font-weight:bold;
    position:relative;
    top:169px
}
.pm1{
    margin:auto;
    height:52px;
    width:1000px;
    background:#e53f3f
}
.pm1 h2{
    font-size:20px;
    font-weight:500;
    color:#fff;
    text-align:center;
    padding:10px;
    width:1000px;
    margin:auto
}
.pm1 p{
    font-size:20px;
    font-weight:500;
    position:relative;
    top:33px;
    left:250px;
    margin-bottom:20px;
}
.pm2 p{
    position:relative;
    top:-108px;
    left:600px
}
.pay4_1{
    display:block;
    width:78px;
    height:30px;
    background:url(../images/payment/pm01.png) no-repeat;
    text-indent:-9999px;
    margin-left:30px;
    margin-top:-26px;
}
.pay4_2{
    position:relative;
    top:-28px;
    left:116px
}
#pay5{
    position:relative;
    top:-31px
}
.pay5_1{
    display:block;
    width:68px;
    height:21px;
    background:url(../images/payment/pm02.png) no-repeat;
    text-indent:-9999px;
    margin-left:30px;
    margin-top:-52px;
}
.pay5_2{
    position:relative;
    top:-26px;
    left:116px
}
#pay6{
    position:relative;
    top:-27px
}
.pay6_1{
    display:block;
    width:79px;
    height:21px;
    background:url(../images/payment/pm03.png) no-repeat;
    text-indent:-9999px;
    margin-left:30px;
    margin-top:-50px;
}
.pay6_2{
    position:relative;
    top:-23px;
    left:116px
}
.tpa{
    margin:auto;
    height:52px;
    width:1000px;
    background:#e53f3f;
    margin-top:188px;
}
.tpa h2{
    font-size:20px;
    font-weight:500;
    color:#fff;
    text-align:center;
    padding:10px;
    width:1000px;
    margin:auto;
    margin-bottom:60px
}
.tpa p{
    font-weight:500;
    text-align:center;
}
.tpa1{
    font-size:20px;
    margin-bottom:60px
}
.tpa1 input{
    font-size:20px;
    font-weight:500;
    text-align:right;
    width:80px;
    border:none;
}
.tpa1_1{
    margin-bottom:13px;
}
.tpa1_hr{
    border-bottom:3px solid#e53f3f;
    margin-top:0px;
}
.tpa2{
    font-size:24px;
    margin-top:28px
}
.tpa2 input{
    font-size:24px;
    font-weight:500;
    text-align:right;
    width:100px;
    border:none;
}
.tpa button{
    width:1000px;
    height:106px;
    border:none;
    background:#eee;
    font-size:24px;
    font-weight:bold;
    text-align:center;
    color:#e53f3f;
    cursor:pointer;
    margin-top:28px
}
.ad_wrap{
    background:url(../images/ad_bg.jpg) repeat-x bottom;
    position:relative;
    margin-top:488px
}
.ad{
    width:1000px;
    margin:0 auto
}
.banner_ad1{
    display:block;
    width:1000px;
    height:244px;
    background:url(../images/login/banner_ad01.jpg) no-repeat;
    text-indent:-9999px;
    margin-top:50px
}
.banner_ad2{
    display:block;
    width:1000px;
    height:244px;
    background:url(../images/banner_ad.png) no-repeat;
    text-indent:-9999px
}