.gnb_menu_wrap{
    width:1000px;
    border-bottom:1px solid#d66d6d;
    display:flex
}
.main_bg{
    clear:both;
    background:url(../images/main_bg.jpg) repeat-x bottom;
}
.main{
    display:block;
    width:1400px;
    height:216px;
    background:url(../images/store/main_image01.jpg) no-repeat;
    text-indent:-9999px;
    margin:0 auto;
    margin-top:180px
}
.menu{
    position:sticky;
    top:135px;
    width:1000px;
    margin:0 auto;
    margin-top:20px;
    background:#fff;
    height:62px
}
.menu button{
    float:left;
    width:250px;
    height:60px;
    font-size:16px;
    border:none;
    background:#fff;
    cursor:pointer
}
/* .menu button:hover{
    color:#d32f2f;
    font-weight:bold
} */
.on{
    color:#d32f2f;
    font-weight:bold
}
#best{
    position:relative;
    top:-259px;
}
.best{
    width:1000px;
    margin:0 auto
}
.best_bg{
    width:100%;
    height:40px;
    background:#d32f2f;
    margin-top:20px
}
.best h2{
    width:1000px;
    margin:auto;
    margin-top:-35px;
    margin-bottom:60px;
    font-size:20px;
    font-weight:500;
}
.best a{
    color:#fff
}
.best h3{
    font-size:16px;
    font-weight:400;
    text-align:center;
    margin-bottom:3px
}
.best1 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/best01.png) no-repeat;

}
.best1{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-right:143px;
    cursor:pointer
}
.cont1{
    font-size:12px;
    color:#6f6f6f;
    text-align:center;
    margin-bottom:10px
}
.cont2{
    text-align:center
}
.txt_sale{
    font-size:18px;
    font-weight:bold;
    color:#d32f2f
}
.txt_price{
    font-size:18px;
    font-weight:400;
    text-align:center
}
.txt_price_ins{
    font-size:12px;
    color:#6f6f6f;
    text-decoration:line-through;
}
.best2 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/best02.png) no-repeat
}
.best2{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-right:143px;
    cursor:pointer
}
.best3 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/best03.png) no-repeat;
}
.best3{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    cursor:pointer
}
.best4 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/best04.png) no-repeat;
}
.best4{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-top:29px;
    margin-right:143px;
    cursor:pointer
}
.best5 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/best05.png) no-repeat;
}
.best5{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-top:29px;
    margin-right:143px;
    cursor:pointer
}
.best6 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/best06.png) no-repeat;
}
.best6{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-top:29px;
    cursor:pointer
}
.best7 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/best07.png) no-repeat;
}
.best7{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-top:29px;
    margin-bottom:50px;
    cursor:pointer
}
#ticket{
    position:relative;
    top:-259px;
}
.ticket{
    width:1000px;
    margin:0 auto
}
.ticket_bg{
    clear:both;
    width:100%;
    height:40px;
    background:#d32f2f
}
.ticket h2{
    width:1000px;
    margin:auto;
    margin-top:-35px;
    margin-bottom:60px;
    font-size:20px;
    font-weight:500;
}
.ticket h3{
    font-size:16px;
    font-weight:400;
    text-align:center;
    margin-bottom:3px
}
.ticket a{
    color:#fff;
}
.ticket1 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/best02.png) no-repeat;
}
.ticket1{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-right:143px;
    cursor:pointer
}
.ticket2 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/ticket02.png) no-repeat;
}
.ticket2{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-right:143px;
    cursor:pointer
}
.ticket2 h3{
    margin-top:-20px;
}
.ticket2 p{
    line-height:14px;
}
.ticket3 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/best03.png) no-repeat;
}
.ticket3{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-bottom:50px;
    cursor:pointer
}
.pc{
    width:1000px;
    margin:0 auto
}
.pc_bg{
    clear:both;
    width:100%;
    height:40px;
    background:#d32f2f
}
#pc{
    position:relative;
    top:-260px
}
.pc h2{
    width:1000px;
    margin:auto;
    margin-top:-35px;
    margin-bottom:60px;
    font-size:20px;
    font-weight:500;
}
.pc h3{
    font-size:16px;
    font-weight:400;
    text-align:center;
}
.pc a{
    color:#fff
}
.pc1 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/pc01.png) no-repeat;
}
.pc1{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-right:143px;
    cursor:pointer
}
.pc1 h3{
    margin-bottom:27px
}
.pc2 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/pc02.png) no-repeat;
}
.pc2{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-right:143px;
    cursor:pointer
}
.pc2 h3{
    margin-top:-6px;
    margin-bottom:10px
}
.pc3 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/pc03.png) no-repeat;
}
.pc3{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-bottom:50px;
    cursor:pointer
}
.pc3 h3{
    margin-bottom:27px
}
.pc4 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/pc04.png) no-repeat;
}
.pc4{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-right:143px;
    cursor:pointer
}
.pc4 h3{
    margin-top:-6px;
    margin-bottom:10px
}
.pc5 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/pc05.png) no-repeat;
}
.pc5{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-right:143px;
    cursor:pointer
}
.pc5 h3{
    margin-top:-6px;
    margin-bottom:10px
}
.pc6 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/pc06.png) no-repeat;
}
.pc6{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-bottom:50px;
    cursor:pointer
}
.pc6 h3{
    margin-bottom:27px
}
.snack{
    width:1000px;
    margin:0 auto
}
.snack_bg{
    clear:both;
    width:100%;
    height:40px;
    background:#d32f2f
}
#snack{
    position:relative;
    top:-259px
}
.snack h2{
    width:1000px;
    margin:auto;
    margin-top:-35px;
    margin-bottom:60px;
    font-size:20px;
    font-weight:500;
}
.snack h3{
    font-size:16px;
    font-weight:400;
    text-align:center;
    margin-bottom:5px
}
.snack a{
    color:#fff
}
.snack1 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/snack01.png) no-repeat;

}
.snack1{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-right:143px;
    cursor:pointer
}.snack2 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/snack02.png) no-repeat;
}
.snack2{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-right:143px;
    cursor:pointer
}
.snack3 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/snack03.png) no-repeat;
}
.snack3{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-bottom:30px;
    cursor:pointer
}
.snack4 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/snack04.png) no-repeat;

}
.snack4{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-right:143px;
    cursor:pointer
}
.snack5 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/snack05.png) no-repeat;
}
.snack5{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-right:143px;
    cursor:pointer
}
.snack6 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/snack06.png) no-repeat;

}
.snack6{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-bottom:30px;
    cursor:pointer
}
.snack7 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/snack07.png) no-repeat;
}
.snack7{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-right:143px;
    cursor:pointer
}
.snack8 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/snack08.png) no-repeat;
}
.snack8{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-right:143px;
    cursor:pointer
}
.snack9 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/snack09.png) no-repeat;
}
.snack9{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-bottom:30px;
    cursor:pointer
}
.snack10 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/snack10.png) no-repeat;
}
.snack10{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-right:143px;
    cursor:pointer
}
.snack11 a{
    display:block;
    width:228px;
    height:197px;
    background:url(../images/store/snack11.png) no-repeat;
}
.snack11{
    width:231px;
    height:290px;
    border:1px solid #d32f2f;
    border-radius:6px;
    box-sizing:border-box;
    float:left;
    margin-bottom:100px;
    cursor:pointer
}
.ad_wrap{
    clear:both;
    background:url(../images/ad_bg.jpg) repeat-x bottom;
}
.ad{
    width:1000px;
    margin:0 auto
}
.banner_ad1{
    display:block;
    width:1000px;
    height:244px;
    background:url(../images/login/banner_ad01.jpg) no-repeat;
    text-indent:-9999px;
    margin-top:50px
}
.banner_ad2{
    display:block;
    width:1000px;
    height:244px;
    background:url(../images/banner_ad.png) no-repeat;
    text-indent:-9999px
}