.main_menu_wrap{
    width:1000px;
    height:701px;
    background:#fff;
    margin:0 auto
}
.mt{
    margin-top:41px;
    margin-left:15px;
    margin-bottom:198px;
    float:left
}
.main_ticket{
    font-size:16px;
    border-bottom:2px solid#d32f2f;
    width:30px;
    padding-bottom:7px
}
.mt ul{
    font-size:12px;
    padding-top:7px;
    line-height:1.5
}
.mm{
    float:left;
    margin-top:41px;
    margin-left:61px
}
.main_movie{
    font-size:16px;
    border-bottom:2px solid#d32f2f;
    width:30px;
    padding-bottom:7px
}
.mm ul{
    font-size:12px;
    padding-top:7px;
    line-height:1.5
}
.mc{
    float:left;
    margin-top:41px;
    margin-left:61px
}
.main_cinema{
    font-size:16px;
    border-bottom:2px solid#d32f2f;
    width:45px;
    padding-bottom:7px
}
.mc ul{
    font-size:12px;
    padding-top:7px;
    line-height:1.5
}
.msc{
    float:left;
    margin-top:41px;
    margin-left:365px;

}
.main_special{
    font-size:16px;
    border-bottom:2px solid#d32f2f;
    width:60px;
    padding-bottom:7px
}
.msc ul{
    font-size:12px;
    padding-top:7px;
    line-height:1.5
}
.ms{
    float:left;
    margin-top:41px;
    margin-left:20px
}
.main_store{
    font-size:16px;
    border-bottom:2px solid#d32f2f;
    width:45px;
    padding-bottom:7px
}
.ms ul{
    font-size:12px;
    padding-top:7px;
    line-height:1.5
}
.mms{
    float:left;
    margin-top:41px;
    margin-left:61px
}
.main_membership{
    font-size:16px;
    border-bottom:2px solid#d32f2f;
    width:45px;
    padding-bottom:7px
}
.mms ul{
    font-size:12px;
    padding-top:7px;
    line-height:1.5
}
.mmy{
    clear:both;
    margin-top:41px;
    margin-left:15px
}
.main_my{
    font-size:16px;
    border-bottom:2px solid#d32f2f;
    width:30px;
    padding-bottom:7px
}
.mmy ul{
    font-size:12px;
    padding-top:7px;
    line-height:1.5
}
.mcs{
    float:left;
    margin-top:-145px;
    margin-left:137px
}
.main_cs{
    font-size:16px;
    border-bottom:2px solid#d32f2f;
    width:68px;
    padding-bottom:7px
}
.mcs ul{
    font-size:12px;
    padding-top:7px;
    line-height:1.5
}
.me{
    float:left;
    margin-top:-145px;
    margin-left:248px
}
.main_event{
    font-size:16px;
    border-bottom:2px solid#d32f2f;
    width:45px;
    padding-bottom:7px
}
.me ul{
    font-size:12px;
    padding-top:7px;
    line-height:1.5
}
.mem{
    float:left;
    margin-top:-145px;
    margin-left:686px
}
.main_mem{
    font-size:16px;
    border-bottom:2px solid#d32f2f;
    width:80px;
    padding-bottom:7px
}
.mem ul{
    font-size:12px;
    padding-top:7px;
    line-height:1.5
}
.msa{
    float:left;
    margin-top:-145px;
    margin-left:-40px;
}
.main_sale{
    font-size:16px;
    border-bottom:2px solid#d32f2f;
    width:60px;
    padding-bottom:7px
}
.msa ul{
    font-size:12px;
    padding-top:7px;
    line-height:1.5
}
.mcom{
    float:left;
    margin-top:-145px;
    margin-left:68px
}
.main_com{
    font-size:16px;
    border-bottom:2px solid#d32f2f;
    width:60px;
    padding-bottom:7px
}
.mcom ul{
    font-size:12px;
    padding-top:7px;
    line-height:1.5
}
.exit{
    display:block;
    width:52px;
    height:52px;
    background:url(../images/exit.png) no-repeat;
    text-indent:-9999px;
    position:relative;
    left:1035px;
    top:-450px
}
.login{
    width:281px;
    height:37px;
    background:#d32f2f;
    border:none;
    border-radius:6px;
    color:#fff;
    font-size:16px;
    letter-spacing:-1px;
    position:relative;
    top:-465px;
    left:359px;
    margin-bottom:19px;
}
.join_bg{
    width:281px;
    height:164px;
    background:#f6f5f5;
    border:none;
    border-radius:6px;
    position:relative;
    top:-465px;
    left:359px
}
.join1{
    color:#555;
    font-size:14px;
    text-align:center;
    line-height:1.5;
    position:relative;
    top:-610px;
}
.join2{
    width:101px;
    height:37px;
    background:1px #fff;
    border-radius:18px;
    font-size:16px;
    text-align:center;
    position:relative;
    top:-566px;
    left:449px;
    margin-bottom:81px;
}
.ad1{
    display:block;
    width:297px;
    height:125px;
    background:url(../images/menu_ad01.jpg) no-repeat;
    text-indent:-9999px;
    position:relative;
    top:-566px;
    left:351px
}
.ad2{
    display:block;
    width:1000px;
    height:199px;
    background:url(../images/menu_ad02.jpg) no-repeat;
    text-indent:-9999px;
    position:absolute;
    top:530px
}