.notice_wrap{
    width:1000px;
    margin:auto;
    margin-top:210px
}
.notice_wrap button{
    width:172px;
    height:40px;
    box-sizing: border-box;
    font-size:16px;
    font-weight:bold;
    margin-top:50px;
    margin-bottom:50px;
    cursor:pointer
}
.notice{
    font-size:24px;
    font-weight:400;
}
.tab1_btn{
    background:#d32f2f;
    border:1px solid #d32f2f;
    color:#fff
}
.tab2_btn{
    margin-left:-5px;
    background:#8f9191;
    border:1px solid#8f9191;
    color:#fff;
}
.line{
    border-bottom:1px solid#292929;
    margin-top:-51px;
    margin-bottom:50px;
}
.tab1_cont{
    width:1000px;
    margin:auto;
    /* display:none */
}
.total{
    font-size:14px;
    font-weight:bold;
    margin-left:6px;
    margin-bottom:23px
}
.total em{
    color:#d32f2f;
    font-style:normal;
    box-sizing:border-box
}
.search_bg{
    width:1000px;
    height:75px;
    background:#eee;
    border-radius:6px;
    box-sizing:border-box;
    border:none
}
.search_wrap{
    padding:23px;
    border:none
}
.select1{
    width:101px;
    height:31px;
    border-radius:6px;
    border:1px solid#292929;
    box-sizing:border-box;
    margin-left:141px;
}
.search1{
    width:496px;
    height:31px;
    border-radius:6px;
    border:1px solid#292929;
    box-sizing:border-box
}
.search1_btn{
    width:91px;
    height:31px;
    background:#d32f2f;
    border-radius:6px;
    border:none;
    box-sizing:border-box;
    color:#fff;
    font-size:12px;
    font-weight:bold;
    cursor:pointer
}
.notice_list{
    margin-top:39px
}
/* table{
    width:1000px;
    height:540px;
    text-align:center;
} */
table{
    border-collapse: collapse;
    border-spacing: 0;
    font-size:14px;
    text-align:center;
}
th{
    border-bottom: 1px solid #292929;
    padding: 11px;
}
td{
    border-bottom: 1px solid #ebebeb;
    padding: 11px;
}
.red{
    color:#d32f2f
}
.no{
    width:100px
}
.sort{
    width:140px
}
.n_title{
    width:520px
}
.w_date{
    width:120px
}
.cnt{
    width:120px
}
.title_txt{
    text-align:left;

}
.pasing{
    font-size:14px;
    font-weight:bold;
    margin-top:30px;
    margin-left:406px
}
.pager{
    font-size:14px;
    font-weight:bold;
    margin-top:30px;
    text-align:center;
}
.pager a{
    margin:0 5px;
}
.btn_prev a{
    display:inline-block;
    width:20px;
    height:20px;
    background:url(../images/notice/prev.png) no-repeat;
    text-indent:-9999px;
}
.btn_next a{
    display:inline-block;
    width:20px;
    height:20px;
    background:url(../images/notice/next.png) no-repeat;
    text-indent:-9999px;
}
.btn_end{
    display:block;
    width:20px;
    height:20px;
    background:url(../images/notice/end.png) no-repeat;
    text-indent:-9999px
}
.ad_wrap{
    clear:both;
    margin-top:100px;
    background:url(../images/ad_bg.jpg) repeat-x bottom;
}
.ad{
    width:1000px;
    margin:0 auto
}
.banner_ad1{
    display:block;
    width:1000px;
    height:244px;
    background:url(../images/login/banner_ad01.jpg) no-repeat;
    text-indent:-9999px;
    margin-top:50px
}
.banner_ad2{
    display:block;
    width:1000px;
    height:244px;
    background:url(../images/banner_ad.png) no-repeat;
    text-indent:-9999px
}